* {
    padding: 0;
    margin: 0;
}

.container {
    position: absolute;
    width: 120rem;
    height: 67.5rem;
    background-color: black;
}

.topcontent {
    width: 116rem;
    height: 4.8125rem;
    flex-shrink: 0;
    background-color: red;
}